:host {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem;
}
mat-card {
  background: #cfccb7;
  color: #222;
  margin-top: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding: 30px;
}
h1,
h2,
h3 {
  color: #6b8e23;
}
a {
  color: #6b8e23;
  text-decoration: underline;
}
ul {
  margin-bottom: 1rem;
}
