
:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #F3E7D3;
}

mat-sidenav-container {
	flex: 1;
	overflow: hidden;
	background: #F3E7D3;
}

mat-sidenav {
	width: 300px;
	background: #F3E7D3;
	border-right: 1px solid #ddd;
	padding-top:25px;
	overflow-y: auto;
}

mat-sidenav-content {
	background: #F3E7D3;
	padding: 16px 20px;
	overflow-y: auto;
}

mat-nav-list {
	padding: 0 8px;
}

.mat-mdc-list-item {
	color: #333;
	border-radius: 4px;
	margin: 0 0 10px 0;
	transition: background 0.2s, color 0.2s;
}

.mat-mdc-list-item.active,
.mat-mdc-list-item:hover {
	background: #cfccb7 !important;
	color: #cfccb7;
}

.mat-mdc-list-item.active mat-icon,
.mat-mdc-list-item:hover mat-icon {
	color: #fff;
}

mat-icon[matListItemIcon] {
	color: #333;
	margin-right: 16px;
}
